# ========================
# Django core settings
# ========================
DJANGO_SECRET_KEY=YOURKEYHERE  
DJANGO_DEBUG=False

# Comma-separated
DJANGO_ALLOWED_HOSTS=localhost

# Needed for Django CSRF protection (important later for real domain)
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost

# ========================
# Database (SQLite for now)
# ========================
DJANGO_SQLITE_PATH=/data/db.sqlite3